
.col-white{
    text-decoration: none;
    color: white;
}
.col-white:hover{
    color: gray;
}
.col-white:focus{
    border-bottom: 2px solid gray;
    color: yellow;
}
.col-black{
    text-decoration: none;
    color: black;
}
.col-black:hover{
    color: gray;
}